<%= render :partial=> "contents/player/border_editor", :locals => { :settings => settings, :picker => false } %>

<div>
	<table>
		<tr>
			<td colspan="3">
				<%= _("本文")%><font color=red>*</font>
			</td>
		</tr>
		<tr>
			<td>
				<%= text_area_tag("contents_setting[text_content]", h(settings["text_content"]),:rows=>"10",:cols=>"100",:maxlength=>"1024")%>
				<br>
				<br>
			</td>
		</tr>
	</table>
	<table style="float:left;">
		<tr>
			<td></td>
			<td>
				<%= _("背景色")%>
			</td>
			<td>
				<%= text_field_tag("contents_setting[back_color]", settings["back_color"],:class=>"colorwell",:value=>"#123456",:maxlength => 7)%>
				<%if settings["font_color"] != nil %>
					  <script>document.getElementById("contents_setting[back_color]").value="<%=settings['back_color']%>"</script>
			  	<%end%>
			</td>
		</tr>
		<tr>
			<td>
				<%= _("フォントサイズ")%>
				<%= select_tag("contents_setting[font_size]", 
					options_for_select(font_size_for_select, settings["font_size"]
					))
				%>
				<%="px"%>
			</td>
			<td>
				<%= _("フォントカラー")%>
			</td>
			<td>
				<%= text_field_tag("contents_setting[font_color]", settings["font_color"],:class=>"colorwell",:value=>"#123456",:maxlength => 7)%>
				<%if settings["font_color"] != nil %>
					  <script>document.getElementById("contents_setting[font_color]").value="<%=settings['font_color']%>"</script>
			  	<%end%>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<%= _("表示タイプ")%>
				<%= select_tag("contents_setting[control_type]", 
					options_for_select(scroll_type_for_select, settings["control_type"]
					),{html_options = { :onchange =>"" },{:scrolltype =>"();"}})
				%>
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="3">
				<table id="scrollproperty">
					<tr>
						<td>
							<%= _("スクロール方向")%>
							<%= select_tag("contents_setting[scroll_direction]", 
								options_for_select(scroll_direction_for_select, settings["scroll_direction"]
								))
							%>
						</td>
						<td>
							<%= _("スクロール速度")%>
							<%= select_tag("contents_setting[scroll_speed]", 
								options_for_select(scroll_speed_for_select, settings["scroll_speed"]
								))
							%>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<div id="picker" style="float:left;">
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript" charset="utf-8">
	jQuery(document).ready(function() {
	 var f = jQuery.farbtastic('#picker');
	 var p = jQuery('#picker').css('opacity', 0.25);
	 var selected;
	 jQuery('.colorwell')
	  .each(function () { f.linkTo(this); jQuery(this).css('opacity', 0.75); })
	  .focus(function() {
	    if (selected) {
	      jQuery(selected).css('opacity', 0.75).removeClass('colorwell-selected');
	    }
	    f.linkTo(this);
	    p.css('opacity', 1);
	    jQuery(selected = this).css('opacity', 1).addClass('colorwell-selected');
	  });
	});
</script>
<script>
	var t = document.getElementById("contents_setting[control_type]").selectedIndex;
	if (t == "0" || t == "2"){
			document.getElementById("scrollproperty").style.display = "block"
		}
	else{
			document.getElementById("scrollproperty").style.display = "none"
		}
</script>
