<style type="text/css">
.widget_guide_text{
        width:810px;
        height:180px;
        word-break:break-all
}
.widget_guide_title{
        font-size:12px;
        height:100px;
        width:100px;
        padding-top:80px;
        text-align:center;
}
</style>
<table>
	<tr>
		<td valign=top><%=_("ウィジェットコード")%><font color=red>*</font></td>
		<td>
			<%= text_area_tag("contents_setting[widget]", h(settings["widget"]),:size=>"50",:maxlength => 2048)%>
		</td>
	</tr>
	<tr>
		<td colspan='2'>
		 <span>
		 	<%=_("ページをリフレッシュする秒数を入れて下さい")%><font color=red>*</font>
			</span>⇒
			<%= text_field_tag("contents_setting[refreshtime]", h(settings["refreshtime"]),:maxlength => 4,:size=> 4)%>秒
		</td>
	</tr>
</table>
<br/>
<div class="select">
	<div id="layout_guide_on" style="padding:5px 0px 5px 15px; height:23px;">
		<span class="bt1">
			<%=image_tag("./imagefile/open.png",:onclick=>"layout_guide('on')") %>
		</span>
		<span><%=@player.view_name%><%=_(" 説明を開く")%></span>
	</div>
	<div id="layout_guide_off" class="layout_guide">
		<span id="layout_guide_offbt" class="bt1">
			<%=image_tag("./imagefile/close.png",:onclick=>"layout_guide('off')") %>
		</span>
		<span><%=_("説明を閉じる")%></span>
		<div style="clear:both;"></div>
		<div class="guide_box">
			<div class="widget_guide_title">
				<%=@player.view_name%>
			</div>
		</div>
		<div class="guide_box">
			<div class="widget_guide_text">
				<%=_("Web版Googleガジェットやブログパーツを、一定間隔で更新しながら表示します。")%><br/><br>
				<%=_("自作ウィジェットの追加も出来ます。")%><br/><br>
				<%=_("<b>下記リアルタイムWEBウィジェットのリンクから、リアルタイムWebウィジェットサンプル、その他のウィジェットリンクにあるサイト等を参照し、ウィジェットコードを貼り付けて下さい。</b>")%><br/>
				<a href="/welcome/web_widget"><%=_("リアルタイムWEBウィジェット")%></a>
			</div>
		</div>
	</div>
</div>