<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_mospeng.gif")%><%= _("VASDAQ.TVについて")%></h1>
<ul>
<li class="disc"><%= _("VASDAQ.TVは、インターネットの様々な情報を、一つの画面に集めて自動表示する情報チャンネルです。")%></li>
<li class="disc"><%= _("画面を表示したら、後は操作一切無しで、最新の知りたい情報が、リアルタイムに２４時間自動表示されます。")%></li>
<li class="disc"><%="下記画面はVASDAQ-TVで作成しています。"%></li>
</ul>
<div style="margin:10px 0px 5px 0px;">
	<iframe style="margin:0px; width:800px; height:602px; overflow: hidden;" src="http://www.vasdaq.tv/users_contents/0/255/1/1/preview.html"></iframe>
<div>
<br>
<br>
<h3><%= _("RSSリーダーを超えた表現力！")%></h3>
<%= _("VASDAQ.TVは、RSSデータを中心に、Web上で表示出来るさまざまなコンテンツを用意しています。")%>
<%= _("従来のRSSリーダーと違い、文字だけの情報ではなく動画やフラッシュ、Javaコンテンツなど。")%>
<%= _("しかもオープンソースプロジェクトなので、対応コンテンツは日々増加中です。")%>
<br>
<br>
<a href="./opensource_project"><%= _("オープンソースプロジェクト")%></a>
<br>
<br>
<h3><%= _("自分で番組作りも楽しめます")%></h3>
<%= _("チャンネル作成ツールも無償で提供しています。")%>
<%= _("自分で独自のチャンネルを作成して、個人で楽しむ事も可能です。")%>
<%= _("「チャンネルを公開する」と設定すれば、世界中の人たちに、自分で作成した番組を見てもらう事も可能です。")%><br>
<br>
<%= _("また、お家のテレビや屋外の大型ディスプレーなどさまざまな画面サイズにも対応しているので、自分だけの情報チャンネルや、流行りのデジタルサイネージ（電子看板）だって全て無料で作れちゃいます。")%>
<br>
<br>

<div class="bt"><center><a href="/users/new"><%= image_tag("./welcome/common/about_bt02.gif")%></a></center></div>

</div>
