
<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_mospeng.gif")%><%= _("広告掲載")%></h1>
<ul>
<li class="disc"><%= _("VASDAQ.TV(ベータ版)は、<br>RSSなどの最新のテクノロジーを駆使した、画面マルチ分割方式による世界初のインターネットテレビです。")%></li>
<li class="disc"><%= _("VASDAQ.TVは、ビジネスにおける広告の可能性を最大限に広げます。")%></li>
</ul>
<br>
<table width="100%" border bordercolor="#ffcc66">
<tr>
<td width="240px" bgcolor="#ffe478" style="padding:10px;">
<b><%= _("番組内広告のご案内")%></b>
</td>
<td width="240px" bgcolor="#ffe478" style="padding:10px;">
<b><%= _("ターゲット広告")%></b>

</td>
<td width="240px" bgcolor="#ffe478" style="padding:10px;">
<b><%= _("RSS広告")%></b>
</td>
</tr>
<tr>
<td valign="top" align="left" style="padding:10px;background-image:url(<%= image_path('welcome/common/ads_table01.gif')%>); background-position:right bottom; background-repeat: no-repeat; background-color:#fff7d7;">
<div class="table10"><%= _("VASDAQ.TVは、Googleと同じく、サイト上での広告は一切実施していません。そのかわりにVASDAQが提供する番組やユーザ様が作成した番組内での動的な広告を実現します。")%></div>
</td>
<td valign="top" align="left" style="padding:10px;background-image:url(<%= image_path('welcome/common/ads_table02.gif')%>); background-position:right bottom; background-repeat: no-repeat; background-color:#fff7d7;">
<div class="table10"><%= _("VASDAQ.TVは、テレビ番組を様々なジャンルで提供しています。年齢や性別、趣味、エリアなどカテゴリやチャンネルに合わせたターゲット広告が可能です。")%></div>
</td>
<td valign="top" align="left" style="padding:10px;background-image:url(<%= image_path('welcome/common/ads_table03.gif')%>); background-position:right bottom; background-repeat: no-repeat; background-color:#fff7d7;">
<div class="table10"><%= _("RSS広告とは？RSSフィードとともに配信される広告のことです。RSS以外にも様々なデータを動的に表示するVASDAQ.TVは、RSS広告の可能性を広げます。")%></div>

</td>
</tr>
<tr>
<td bgcolor="#ffe478" style="padding:10px;">
<b><%= _("動画によるテレビCM")%></b>
</td>
<td bgcolor="#ffe478" style="padding:10px;">
<b><%= _("デジタルサイネージ")%></b>
</td>
<td bgcolor="#ffe478" style="padding:10px;">
<b><%= _("モバイル広告")%></b>
</td>
</tr>
<tr>

<td valign="top" align="left" style="padding:10px;background-image:url(<%= image_path('welcome/common/ads_table04.gif')%>); background-position:right bottom; background-repeat: no-repeat; background-color:#fff7d7;">
<div class="table10"><%= _("動画によるCMは、情報量や訴求力において、インターネット広告を遥かに凌ぐ効果があります。VASDAQ.TVは、堅牢なインフラで、インターネット上のテレビCMを可能にしました。")%> </div>
</td>
<td valign="top" align="left" style="padding:10px;background-image:url(<%= image_path('welcome/common/ads_table05.gif')%>); background-position:right bottom; background-repeat: no-repeat; background-color:#fff7d7;">
<div class="table10"><%= _("VASDAQ.TVは元々デジタルサイネージや企業の見える化を実現するために作られたシステムです。街角や公共施設でのデジタルサイネージ広告についても是非ご相談ください。")%> </div>
</td>
<td valign="top" align="left" style="padding:10px;background-image:url(<%= image_path('welcome/common/ads_table06.gif')%>); background-position:right bottom; background-repeat: no-repeat; background-color:#fff7d7;">
<div class="table10"><%= _("VASDAQ.TVのリモコンはアンドロイド携帯電話を使って実現しています。今後様々なモバイル広告も提供していく予定ですのでご期待ください。" )%></div>
</td>
</tr>
</table>
<br>
<br>
<p>
<%= _("広告の掲載をご検討中の方は、下記のお問い合わせフォームにてご連絡ください。")%>
<br>
<br>
<div class="bt"><center><a href="http://www.vasdaq.tv/yaml_db_forms/input/100005"><%= image_tag("./welcome/common/ads_bt01.gif")%></a></center></div>
</p>

</div>

