
<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_area.gif")%><%= _("エリア情報")%></h1>
<p><%= _("各都道府県、市町村毎の各種情報チャンネルや、国別海外情報、")%><br>
<%= _("GPSを活用したコラボレーションチャンネルなども企画しています。")%><br>
<font color="#686868"><%= _("東京チャンネル、港区チャンネル、六本木チャンネル、アメリカチャンネル、中国チャンネル、地域経済、etc...")%></font>
</p>

<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("トラベルチャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('../category/ch0040/index.html')%>" target="_blank"><%= image_tag("./welcome/category/ch0040/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("旬のおでかけ情報、国内新着ツアー、海外新着ツアー、新着旅行記等ブロック毎にニュースを表示します。天気予報の情報も配信。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("スワンズ株式会社" )%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("るるぶ、ALL格安航空券比較、フォートラベル、Weather Underground")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->

<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("世界のニュース")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('../category/ch0038/index.html')%>" target="_blank"><%= image_tag("./welcome/category/ch0038/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("世界地図上に、北米、欧州、中国、アジアオセアニア等ブロック毎にニュースを表示します。twitter、2ちゃんねるニュースの情報も配信。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社イントゥ" )%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("googlenews_wor（国際）、2NN 2ちゃんねるニュース速報＋ナビ（国際・東アジア）")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->




</div>
