

<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_business.gif")%><%= _("ビジネス")%></h1>
<%= _("ビジネスに必要な様々な情報から、OL向けチャンネルなども提供予定。<br>また、ビジネスに役立つVASDAQ.TV活用のサンプルや業種業務毎のチャンネルなどもあります。")%><br>
<font color="#686868"><%= _("ビジネス総合、OLチャンネル、営業マンチャンネル、新入社員チャンネル、製造業向け、流通業向け、サービス業向け、金融業向け、公共向け、etc...")%></font>
</p>
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("ＶＡＳＤＡＱグループ向けデシジョンコックピット")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0001/index.html" target="_blank"><%= image_tag("./welcome/category/ch0001/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループでは、実際にこの画面を会社内で大型ディスプレーに表示し、社内のコミュニケーションに役立てています。")%></td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
2　<a href="../category/ch0002/index.html" target="_blank">Page2</a>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("Twitter,日経NET,交通情報,ライブドア天気予報")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("社内ネットワークカメラ")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->

<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("製造業向け工場生産管理モニタ（見える化マネジメント）")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0011/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0011/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ライン管理アンドン、かんばん、生産計画、在庫管理。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("生産管理システムと接続")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("システム構成図あり・")%><a href="<%= image_path('./welcome/category/ch0011/big_sample_cha01.jpg')%>" target="_blank"><%= _("中国語版あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("製造業向けPLM管理モニタ（プロダクトライフサイクルマネジメント）")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0012/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0012/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("PLM管理のトップ画面で、PPMの製品毎、プロダクトの各工程毎に必要な情報を自動表示。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("PLMアプリケーションと接続")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("システム構成図あり・")%><a href="<%= image_path('./welcome/category/ch0012/big_sample_cha.jpg')%>" target="_blank"><%= _("中国語版あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("流通業向けRFID検品モニタ（家電量販店向け）")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0037/ch0037_jp_1/index.html" target="_blank"><%= image_tag("./welcome/category/ch0037/ch0037_jp_1/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("商品納品時における検品注意事項、商品説明、納入場所等を管理するモニタです")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
３ <a href="../category/ch0037/ch0037_jp_2/index.html" target="_blank">Page2</a>　<a href="../category/ch0037/ch0037_jp_3/index.html" target="_blank">Page3</a>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("安徽VASDAQ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("在庫管理システム、検品マスタ、商品マスタ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<a href="../category/ch0037/ch0037_ch_1/index.html" target="_blank"><%= _("・中国語版あり1")%></a>
<a href="../category/ch0037/ch0037_ch_2/index.html" target="_blank"> 2</a>
<a href="../category/ch0037/ch0037_ch_3/index.html" target="_blank"> 3</a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("物流業向け倉庫入出荷業務モニタ（保冷倉庫編）")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0013/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0013/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("RFIDによるピッキング作業と在庫管理画面付き。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("物流在庫管理システムと接続")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("システム構成図あり・")%><a href="<%= image_path('./welcome/category/ch0013/big_sample_cha.jpg')%>" target="_blank"><%= _("中国語版あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("物流業向け国際物流モニタ（コンテナ輸送RFID管理）")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0014/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0014/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("RFIDによるコンテナ仕分け状況管理と出荷作業監視カメラによる監視モニタ。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("コンテナ物流システムと接続")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("システム構成図あり・")%><a href="<%= image_path('./welcome/category/ch0014/big_sample_cha.jpg')%>" target="_blank"><%= _("中国語版あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("複数店舗オーナー様用 店舗管理モニタ")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0035/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0035/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("複数の店舗を経営するオーナー様の為に、監視カメラによる管理、売上状況、シフト状況等 の 一元管理を可能にしました。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<a href="http://saacus.com/" target="_blank"><%= _("（株）エンタシスSaacusシステム</a>（POSレジ、報告書作成、タイムカード機能）")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定。システム構成図あり")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("ＶＡＳＤＡＱグループ向デシジョンコックピット（拠点売上管理）")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0015/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0015/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("XBRLによるVASDAQ-IT売上高管理グラフ付き。地図による日中米毎の拠点管理。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
1024×768
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("会計ソフトとXBRL接続")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定・")%><a href="<%= image_path('./welcome/category/ch0015/big_sample_cha.jpg')%>" target="_blank"><%= _("中国語版あり")%></a>・<a href="<%= image_path('./welcome/category/ch0015/big_sample_eng.jpg')%>" target="_blank"><%= _("英語版あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから 
<h3>病院向けコラボレーションダッシュボード</h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0016/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0016/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
説明
</td>
<td bgcolor="#ffffcc" width="600px" align="left">病院の待合室用の情報ボードです。受付番号や 病院からの各種お知らせなどを自動表示。
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
ページ数
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
画面サイズ(px)
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
作成者
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
ＶＡＳＤＡＱグループ
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
リンク先情報
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
病院受付管理システムとリンク
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
その他情報
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
近日配信開始予定
</td>-->
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->

</div>
