<div id="Area">
<!-- 文章ここから -->
<div style="width:790px;padding:10px 5px 5px 10px;margin:0 auto;height:100%;">
<h1><%= image_tag("./welcome/icon/h1_mospeng.gif")%><%= _("ビジネスソリューション")%></h1>
<h2 style="margin-bottom:10px;"><%= image_tag("welcome/common/bs/h2_movie.gif")%></h2>
</div>
<div style="width:790px;padding:10px 5px 5px 10px;margin:0 auto;height:100%;">
<a href="#" onClick="javascript:window.open('http://www.youtube.com/watch?v=ojCKdPl35AQ','_blank'); return true;">
	<%=_("youtube版VASDAQ-IT紹介ムービーはこちらです。＞＞")%>
</a>
</div>
<center>
<iframe src="http://www.envision-japan.com/vasdaq/index.html" scrolling="no" frameborder="0" width="905px" height="575px"></iframe>
</center>
<div style="width:790px;padding:10px 5px 5px 10px;margin:0 auto;height:100%;">
<br>
<a href="http://www.envision-japan.com/" target="_blank"><%= image_tag("./welcome/common/en_bn.jpg")%></a>
<br>
本コンテンツは次世代型Webインターフェース「エンヴィジョン」で提供しています。<br>
弊社では、エンヴィジョンを利用した映像配信に関するご相談、コンテンツの作成を行っています。
</div>
<!-- 文章ここまで -->
</div>
<br>

<div class="bissnes_solu" style="width:790px;padding:50px 20px 0px 0px;margin:0 auto;height:100%;">
<h3>VASDAQ-IT</h3>
<pre style="font-size:12px;">
<%= image_tag("welcome/common/bs/h4.gif")%><span class="solution_title"><b>見える化マネジメントを実現する「VASDAQ-IT」ソリューション</b></span>
■VASDAQ-IT（ヴァスダキット）は、VASDAQグループが提案する、次世代型インフォメーションマネジメントソリューションです。

■インターネットや社内のレガシーシステム、もしくは社員やお客様の頭の中だけに存在するインテリジェントな情報を統合し見える化マネジメントとしてビジネスに
活用する事が可能になります。

VASDAQ-ITの概要
◯ネットや社内の様々な情報を完全ノンオペレーションでディスプレー上に２４時間自動表示するためのサーバ/クライアント/ソフトウェア製品群
◯RSS技術を用いて、インターネット上の様々な情報をリアルタイムに自動取得し、ビジュアル表示
◯その他、グラフ、動画、Flash、Java、Ajaxコンテンツ等、最新のインターネットテクノロジーデータもフル活用
◯YAMLメールというVASDAQ-IT独自の方式で、社員やお客様の生きた情報も簡単に自動表示。また、蓄積されたYAMLデータベースでの
 インフォメーションマネジメントも実現
◯ERPやコラボレーションツールなどのレガシーシステム、ポスレジや各種計測機器などの業務データ表示も可能


VASDAQ-IT画面イメージ
</pre>

<div style="float:left;">
	<%= image_tag ("welcome/common/bs/VASDAQ-IT89E696CA83C8381815B83W.jpg",:id=>"") %>
</div>
<div style="">
	<%= image_tag ("welcome/common/bs/mierukaeng.jpg",:id=>"") %>
</div>

その他の画面イメージは<a href="http://sites.google.com/site/vasdaqit/home/vasdaq-tvno-katsuyou-houhou">こちら</a>をご覧ください
<br/>
<br/>
<br/>
<h3>VASDAQ-IT製品構成</h3>
<pre style="font-size:12px;">
<%= image_tag("welcome/common/bs/h4.gif")%><span class="solution_title"><b>SOHO/Shop等 小規模事業者様向け（製品名：VASDAQ-IT a1）</b></span>
■VASDAQ.IT　オールインワン型 組込み端末　標準価格 <font color="#fba741"><b>２９万８千円</b></font>
Ubuntu搭載PC、２４インチインフォメーションディスプレー
Corega監視用Webカメラ１台付き
</pre>
<br>
<br>

<pre style="font-size:12px;">
<font color="#0879dd">大企業の部署単位でも導入いただいています。設置したその日から運用開始可能のオールインワン型</font>
詳細は、<a href="http://www.vasdaqh.com/pdf/vasdaq-it.pdf">VASDAQ-IT PDFを参照してください。</a>
</pre>
<br>
<br>

<pre style="font-size:12px;">
<%= image_tag("welcome/common/bs/h4.gif")%><span class="solution_title"><b>中堅企業様向け（製品名：VASDAQ-IT cs）</b></span>
■VASDAQ-ITクライアントサーバ型　３ディスプレー　　<font color="#fba741"><b>６０万円〜</b></font>
■VASDAQ-TVクライアントサーバ型　１０ディスプレー　<font color="#fba741"><b>１８０万円〜</b></font>
Ubuntu搭載PCサーバとThinクライアントを使用した構成

<font color="#0879dd">中央にサーバを配置し、クライアント側はサーバ側のリソースを極限まで有効活用する事で、複数台導入時の設置コスト削減を実現しました。</font>
</pre>
<br>
<br>

<pre style="font-size:12px;">
<%= image_tag("welcome/common/bs/h4.gif")%><span class="solution_title"><b>大企業様向け（製品名：VASDAQ-IT ep）</b></span>
■VASDAQ-IT見える化マネジメントエンタープライズサーバ　<font color="#fba741"><b>４８０万円〜</b></font>
（クライアント数によりお見積もり）
対応可能なRISCチップ／商用UNIX：
　POWER/AIX版、Sparc/Solaris版、Itanium/HP-UX版
Terabyte級Raid・UTM（統合脅威管理システム）・UPS（無停電電源装置）付き

サーバに高速RISCチップを搭載し、堅牢な商用UNIXを用いたエンタープライズサーバ
２４時間３６５日動き続けるミッションクリティカルなビジネスにも対応可能
セキュリティ対策や保存DBのディスク容量増加にも対応可能なシステム構成

<font color="#0879dd">
創業１４年間で１０００社以上のソリューションを実現させてきたVASDAQグループが自信を持っておすすめするエンタープライズセレクションです。
見える化マネジメントコンサルティングも合わせてご提供します。
</font>
VASDAQグループが提供する<a href="http://www.vasdaqh.com/grp/mieruka_management_consultaion.html">見える化マネジメントコンサルティングとは？</a>
</pre>
<br>
<br>

<pre style="font-size:12px;">
<%= image_tag("welcome/common/bs/h4.gif")%><span class="solution_title"><b>デジタルサイネージ事業者様向け（製品名：VASDAQ-IT bs）</b></span>
（デジタルサイネージ事業者様、広告代理店様、放送事業様、その他IT関連企業様等）
■VASDAQ-ITデジタルサイネージ用ブレードサーバ構築支援　　<font color="#fba741"><b>７００万円〜</b></font>
（クライアント数無制限）
VASDAQ.TVを利用してデジタルサイネージサービスや広告配信、デジタル放送局等を構築するお客様用
もしくは、来るべきクラウド時代に備え、企業のプライベートクラウドソリューションとしても利用可能

事業の発展や配信数の増加に合わせて拡張出来る様、ブレードサーバ方式を採用
Xeon/Centサーバ他、お客様ご指定のサーバ環境に合わせて構築いたします
運用監視サービス、仮想化技術提供、地震災害が少ない海外地域でのミラーリング環境構築も可能
<font color="#0879dd">
VASDAQグループは、運用マネジメントの世界標準「ITIL」の規格策定元である英国国務省より委託を受け、ITILベストプラクティスサイト日本語
版を運営している、運用のプロフェッショナルでもあり、最適なブレードサーバセンターの構築と運用方法をご提案します。
</font>
VASDAQグループが運営する<a href="http://www.vasdaqh.com/grp/itil.html">ITILベストプラクティスサイトとは？</a>
</pre>
<br>
<br>

<pre style="font-size:12px;">
<%= image_tag("welcome/common/bs/h4.gif")%><span class="solution_title"><b>VASDAQ.TVクラウドサービス</b></span>
■個人向けクラウドサービス価格 １ユーザ ディス容量<font color="#fba741"><b>１０MBまで無料</b></font>
（法人様別途お見積もり）
Rubyアプリケーションサーバ機能、動的コンテンツ計画配信機能、Redmineプロジェクト管理機能

VASDAQ.TVオープンソースコミュニティ様とVASDAQグループが共同でサービスを実施する、高速大容量通信時代のクラウドサービスです。
VASDAQ.TV、及びVASDAQ.TV Pro（Developer Edition）の実行環境を、動画やFlashなどのマルチメディアデータに最適化したクラウド
環境で動作させるサービスです。（２００９年１２月１７日サービス開始予定）
<font color="#0879dd">
ITILの日本におけるオフィシャルサプライヤーであるVASDAQグループは、ITILに基づく運用管理を実施しています。インシデント管理、構成管理、
SLAもお客様の実情に合わせて契約を実施しますので、安心して最新のクラウドサービスへと移行が実現します。
</font>
VASDAQグループが提供する<a href="http://www.vasdaqh.com/grp/iso_20000_consultation.html">ITILコンサルティングとは？</a>
</pre>
<br>
<br>

<h3>VASDAQ-IT　＆　VASDAQ.TV</h3>
<br>
<pre style="font-size:12px;">
<%= image_tag("welcome/common/bs/h4.gif")%><span class="solution_title"><b>VASDAQ-ITとVASDAQ.TVの関係は？</b></span>
■VASDAQグループがオープンソースで提供する、クラウドテレビVASDAQ.TV（ヴァスダックティーヴィー）に、企業の見える化マネジメントを実現する
プロプライエタリシステムやハードウェアを付加したソリューションがVASDAQ-IT（ヴァスダッキット）です。

VASDAQ.TVの概要
◯VASDAQ.TVは、画面上の設定だけで、動的コンテンツ表示を実現する、HTML/CSS/JavaScript自動生成ツール
◯VASDAQ.TV Proはeclipseベースの開発ツールで、VASDAQ.TVで自動生成されたHTML/CSS/JavaScriptを再編集可能とする、次世代
 型統合開発環境（IDE）
◯VASDAQ-ITは、オープンソースをコア技術で使用する事により、常に最新のテクノロジーをベンダーリスク無しで継続提供していきます

VASDAQ.TVの詳細は、VASDAQ.TVオープンソースプロジェクトサイトをご覧ください
</pre>
<br>
<pre style="font-size:12px;">
オープンソースプロジェクト　VASDAQ.TV
<a href="http://sites.google.com/site/vasdaqtv/">クラウドテレビ VASDAQ.TV</a>
<br>
VASDAQ.TV設定画面と、VASDAQ.TV Pro 統合開発環境（IDE）
</pre>

<div style="float:left;">
	<%= image_tag ("welcome/common/bs/settings.jpg",:id=>"") %>
</div>
<div style="">
	<%= image_tag ("welcome/common/bs/perspective3.jpg",:id=>"") %>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<h3>テンプレート、オプション、サービス</h3>
<pre style="font-size:12px;">
<%= image_tag("welcome/common/bs/h4.gif")%><span class="solution_title"><b>VASDAQ-ITが提供する各種テンプレート機能</b></span>
◯経営コックピットテンプレート
社内やインターネットのインテリジェントな情報を自動収集し、経営トップの部屋に設置した、インフォメーションディスプレーに必要なデータがノンオペレ
ーションで表示され、忙しい経営トップの意思決定を促進します。
（財務分析、業務報告、現場監視、プロジェクト管理、決裁の見える化、スコアカード等）


◯コラボレーションダッシュボードテンプレート
部門や工場などの現場で、従業員間で必要な情報のみを共有して、作業効率向上、社員の意識やモチベーションUPを図れるノンストップ型コラボレー
ションテンプレートで、ナレッジマネジメントツールとしての効果にも優れます。
（経営理念、CSR、J-SOX法、就業規則、業務マニュアル、改善活動、スコアカード等）


◯各種業種、業務毎のテンプレート
製造、流通、物流、サービス、情報通信、金融、公共等の見える化
営業の見える化、顧客の見える化、Itil/ISO/品質管理の見える化
財務分析、IRの見える化、社員の見える化、各種監視業務等
（テンプレートは無料です お問い合わせください）
</pre>
<br>
<pre style="font-size:12px;">
<%= image_tag("welcome/common/bs/h4.gif")%><span class="solution_title"><b>豊富な拡張オプションと対応可能サービス</b></span>
iPhone、iPodによるリモコン機能、他スマートフォンによる業務接続機能
大型ディスプレー、看板、プロジェクター、マルチモニタ対応、TVへの接続、タッチパネル対応
各社監視カメラ、Webカメラ対応、外部電光掲示板の増設、温度、湿度などの各種センサー連携
POSレジ接続、XBRL、ERP、SFA、CRM、SCM、PLM等のレガシーシステム接続サービス
Flash、Javaコンテンツ等の作成、業務ビデオムービー、他マルチメディアコンテンツの作成代行
初期導入支援、環境設定代行サービス、ITIL／ISO／見える化マネジメントコンサルティング
(オプション料金は別途お見積もり）
</pre>
<br><br>
<pre style="font-size:12px;">
商標
POWER,AIXは米国International Business Machines Corporationの登録商標です
Sparc,Solaris,Javaは米国Sun Micro Systems Inc.の登録商標です
Itanium,Xeonは米国Intel Corporationの登録商標です
HP-UXは米国Hewlett-Packard Companyの登録商標です
Flashは米国Adobe Systems Inc.の登録商標です
iPhone,iPodは米国Apple Inc. の登録商標です
Corega Webカメラは(株)コレガ社の商品です
</pre>

</div>
<br>
<br>
<!--
<div style="background-image:url(<%= image_path('welcome/common/bs/bg.gif')%>); background-repeat: no-repeat;background-position: 520px -20px;
width:100%;margin:0 auto;">
<div style="width:790px;padding:50px 20px 0px 0px;margin:0 auto;height:100%;">
<table>
<tr>
<td align="left" valign="top">
<h1><%= image_tag("welcome/common/bs/logo.png")%></h1>
<table style="padding:0px 10px 0px 10px;">
<tr>
<td>
ＶＡＳＤＡＱ.ＴＶは、ＶＡＳＤＡＱ-ＩＴを個人でも楽しんでもらえる様にしたポータルサイトです。 <br><br>
ニュース、天気予報、ファイナンス、生活情報、趣味、スポーツ、エンタメ、地域情報まで、様々な情報を完全ノンオペレーションのテレビ感覚でお楽しみいただけます。<br><br>
ＶＡＳＤＡＱ.ＴＶサイトはオープンソースプロジェクト形式で提供され、ＶＡＳＤＡＱ-ＩＴテクノロジーを活用した、デジタルサイネージやインタラクティブＴＶサービスが無料で実現可能です。
</td>
</tr>
</table> 
</td>
<td>
<%= image_tag("welcome/common/bs/screen.png")%>
</td>
</tr>
</table>
-->

<!-- 文章ここから -->
<!--
<h2 style="margin-bottom:10px;"><%= image_tag("welcome/common/bs/h2_use.gif")%></h2>
<table style="padding:0px 10px 0px 10px;">
<tr>
<td>
VASDAQ.TVアプリケーションには、一定の条件下において無償で利用できるオープンソースと、有償にて使用することができるライセンスプロダクツがあります。 
</td>
</tr>
</table>
<center>
<table style="margin:10px 0px 10px 0px;">
<tr>
<td style="padding:0px 30px 0px 0px;">
<%= image_tag("welcome/common/bs/bt_free.gif")%>
</td>
<td>
<%= image_tag("welcome/common/bs/bt_charge.gif")%>
</td>
</tr>	
</table>
</center>
<table style="padding:0px 10px 10px 10px;">
<tr>
<td>
また、ライセンスプロダクツにはライセンスパッケージの提供と、SaaSによるサービス提供を用意しております。<br>
オープンソースにつきましては、本サイトよりリンクがあるVASDAQ.TVオープンソースプロジェクトにあるソースをご利用ください。<br>
尚、オープンソースにつきましてはすべてコミュニティにて問い合わせ対応をしており、弊社では無償サポートは行っておりません。
</td>
</tr>
</table>
-->

<!-- 文章ここまで -->
<!-- 文章ここから -->
<!--
<h2 style="margin-bottom:10px;"><%= image_tag("welcome/common/bs/h2_products.gif")%></h2>
<table style="padding:0px 10px 10px 10px;">
<tr>
<td>
オープンソースに弊社独自機能を追加したものをライセンスプロダクツとしてご用意いたしました。<br>
利用する機能によって、オープンソースで可能なものとライセンスプロダクツでのみ提供している機能がございます。<br>
詳細につきましては下記リンクよりお問い合わせいただきますようお願いいたします。
</td>
</tr>
</table>
-->
<!-- 文章ここまで -->

<!-- 文章ここから -->
<!--
<h2 style="margin-bottom:10px;"><%= image_tag("welcome/common/bs/h2_service.gif")%></h2>
<table style="padding:0px 10px 10px 10px;">
<tr>
<td><a href="javascript:void(0);" onclick="window.open('<%= image_path('/welcome/diagram')%>', 'mywindow', 'width=1000, height=850, menubar=no, toolbar=no, scrollbars=no');">
<%= image_tag("welcome/common/diagram02.gif")%></a></td>
<td valign="top">VASDAQ.TVは、標準で１２チャンネル（１チャンネル当たり１０ページまで）また、ディスク容量１０MBまでを無料でお使いになれます。<br>
ユーザサポートが必要な企業様や、大容量の広告配信等が必要な方は、有償のVASDAQ-ITクラウドサービスをご用意しています。<br>
また、クラウドサービスだけのサービスとして、データベース接続機能、広告配信機能等、RFID管理機能等、様々なオプションを用意しています。</td>
</tr>
</table>
<div style="background-color:#f4f4f4;border:solid 1px #e8e8e8;"><center><a href="http://sites.google.com/site/vasdaqit/contact-us"><%= image_tag("welcome/common/bs/bt_inquiry.gif")%></a></center></div>
<br>
<br>
-->
<!-- 文章ここまで -->
</div>
</div>
<div style="background-color:#f4f4f4;border:solid 1px #e8e8e8;"><center><a href="http://www.vasdaq.tv/yaml_db_forms/input/100005"><%= image_tag("welcome/common/bs/bt_inquiry.gif")%></a></center></div>
<br>
<br>
