
<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_mospeng.gif")%><%= _("チャンネル作成Pro（VASDAQ.TV Pro）")%></h1>
<ul>
<li class="disc"><%= _("次世代型リアルタイムWeb開発ツールです。")%></li>
<li class="disc"><%= _("VASDAQ.TVのサイトでは、標準ですぐに楽しめるチャンネルを多数用意していますが、自分でリアルタイムWebサイトを作成する為の様々なツールも無料で提供しています。")%></li>
</ul>
<br>
<!-- 文章ここから -->
<h3><%= _("チャンネル作成Pro（VASDAQ.TV Pro）")%></h3>
<table width="800">
<tr>
<td>
<a href="<%= image_path('./welcome/common/b_diagram01.gif')%>" target="_blank"><%= image_tag("./welcome/common/diagram01.gif")%></a>
</td>
<td valign="top" align="left">
<p>
<%= _("チャンネル作成ツールで自動生成した、HTML、CSS、JavaScriptファイルを編集する開発ツールです。")%>
<%= _("eclipseのプラグインで、HTML、CSS、JavaScriptのソースコードを直接編集する事で、VASDAQ.TVは、多彩な表現力を実現しました。")%><br>
<%= _("VASDAQ.TV独自開発のYAMLエディターでは、ソースコードを色分け編集したり、VASDAQ.TVが提唱するプログラミング言語YAMDAQ（YAMLをベースとしたプログラム言語）を編集する事が可能です。")%>
</p>
</td>
</tr>
</table>
<br>
<div class="bt"><center><a href="http://code.google.com/p/vasdaqtv/downloads/list" target="_blank"><%= image_tag("./welcome/common/channel_pro_bt02.gif")%></a></center></div>
<!-- 文章ここまで -->
<br>
<br>
<h1><%= _("その他のツール")%></h1>
<!-- 文章ここから -->
<h3><%= _("チャンネル作成ツール")%></h3>
<p>
<%= _("分割画面のリアルタイムWebサイトをかんたん操作で作成出来るWebサービスです。")%>
<%= _("設定された内容に従い、HTML、CSS、JavaScriptファイルを自動生成し、ブラウザで作成したリアルタイムWebサイトを見る事が出来ます。")%>
</p>
<a href="/channels"><%= _("チャンネル作成のページへ")%></a>
<!-- 文章ここまで -->
<br>
<br>
<!-- 文章ここから -->
<h3><%= _("各種プレーヤ")%></h3>
<p>
<%= _("チャンネル作成ツールでは、分割画面上にかんたんな設定だけで様々なデータを表示出来る様、各種プレーヤを用意しています。")%>
<%= _("また、各種プレーヤは、チャンネル作成ツールにアドオン形式で、追加削除が可能で、今後様々なプレーヤの開発を予定しています。")%>
</p>
<a href="./player_list"><%= _("プレーヤ一覧")%></a>
<!-- 文章ここまで -->
<br>
<br>
<!-- 文章ここから -->
<h3><%= _("アンドロイドリモコン")%></h3>
<p>
<%= _("VASDAQ.TVをリモコンでチャンネル切り替えや、様々な操作が出来る様、アンドロイド携帯を使ったブルートゥースリモコンを提供しています。")%>
<%= _("このリモコンを使用するには、アンドロイド携帯と、ブルートゥース接続機器が必要になります。")%>
</p>
<a href="http://www.androidzoom.com/android_applications/tools/vasdaqtv-remocon_bpxe.html" target="_blank"><%= _("アンドロイドリモコンをインストール")%></a>
<!-- 文章ここまで -->
<br>
<br>
<!-- 文章ここから -->
<h3><%= _("YAMLメール")%></h3>
<p>
<%= _("VASDAQ.TVの標準データ交換フォーマットのYAML形式でメールを送信します。")%>
<%= _("次期バージョンでは、データベースとのデータ交換を実現する予定です。")%>
</p>
<a href="/yamlmails"><%= _("YAMLメールを使ってみる")%></a>
<!-- 文章ここまで -->
<br>
<br>
<!-- 文章ここから -->
<h3><%= _("VASDAQ.TVアプリケーションサーバ")%></h3>
<p>
<%= _("チャンネル作成ツール、及びチャンネル作成Proで作成された、HTML、CSS、JavaScriptファイルをブラウザ上に表示するためのアプリケーションサーバです。")%>
<%= _("画面表示に必要なRSSデータやYAMLデータの管理や、大容量コンテンツや広告配信に必要な高速化、最適化などを実施しています。")%>
</p>
<!-- 文章ここまで -->

</div>

