
<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_collaboration.gif")%><%= _("コラボレーション")%></h1>
<p><%= _("VASDAQ.TVは、操作不要のコラボレーションツールです。")%><br>
<%= _("SNSやメール、Webカメラなどの機能をフル活用した、コラボレーションチャンネルなども提供していく予定です。")%><br>
<font color="#686868"><%= _("Twitterチャンネル、Webカメラコラボレーション、家族コラボレーション、企業向けコラボレーション、学校向けコラボレーション、地域コラボレーション、etc...")%></font>
</p>

<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("コラボレーション情報ボード")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0044/index.html" target="_blank"><%= image_tag("./welcome/category/ch0044/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("グループウェアを利用した部、課、チーム等に必要な情報表示用のコラボレーションダッシュボードです。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("Twitter、スケジュール、路線情報、天気予報")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("バーチャルセクレタリch")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0032/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0032/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("Googleカレンダーのスケジュールをバーチャル秘書が通知してくれます。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("Googleカレンダー、YAMLメール")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("コラボレーション情報ボード")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0017/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0017/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("グループウェアを利用した部、課、チーム等に必要な情報表示用のコラボレーションダッシュボードです。")%></td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("Googleカレンダー、XMPP Jingleライブラリ、出退勤管理、スケジュール、メール、チャット、交通情報、天気など")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定・")%><a href="<%= image_path('./welcome/category/ch0017/big_sample_cha.jpg')%>" target="_blank"><%= _("中国語版あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("決裁ワークフローマニュアルサンプル")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0033/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0033/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("UMLシーケンス図を使ったワークフローをビデオ、書類の資料を使いマニュアルにしました。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("Youtubeビデオ、PDFプレーヤ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->



</div>


