<div style="padding:10px;background-image:url(<%= image_path('welcome/common/contest_bg.gif')%>); background-repeat: repeat-x;">
<div id="Area">	
<br>
<br>
<center><h1><%= image_tag("./welcome/common/contest_logo.png")%></h1></center>
<table>
<tr>
<td width="397px" align="left" valign="top">
<br>
<br>

<h2><%= image_tag("./welcome/common/contest_h1.png")%></h2>
<br>
<br>
<font color="#003f5c">
VASDAQ.TVは、VASDAQ-ITソリューションのうち、無償で使える機能をWEBサイトで公開し個人でも楽しんでもらえる様にしたポータルサイトです。<br>
<br>
ニュース、天気予報、ファイナンス、生活情報、趣味、スポーツ、エンタメ、地域情報まで、様々な情報を完全ノンオペレーションのテレビ感覚でお楽しみいただけます。<br>
<br>
VASDAQ.TVをご利用頂くと、これまで複数の画面で表示されていた情報を一つの画面に集約して表示することが出来ます。これらの画面を生成する際に、HTMLの知識は不要で、GUIにより簡単に操作して表示したい画面を作ることが出来ます。<br>
<br>
VASDAQ.TVサイトはオープンソースプロジェクト形式で提供され、VASDAQ-ITテクノロジーを活用した、デジタルサイネージやインタラクティブTVサービスが無料で実現可能です。
</font>
</td>
<td width="403px">
<%= image_tag("./welcome/common/contest_img.png")%>
</td>
</tr>
<table>	

<br>
<br>
<br>

<table style="border:1px solid #e5eff8;">
<tr>
<td align="center" width="150px" style="background:#f7fbff;border:1px solid #e5eff8;padding:10px;">
<font color="#66a3d3">応募登録</font>
</td>
<td align="left" width="650px" style="border:1px solid #e5eff8;padding:10px;">
募集期間中にWebサイトからアンケートに必要事項を記入の上返答し応募登録をお願いいたします。応募のご登録がない場合、審査対象とはなりませんのでご注意ください。<br>
(注：日本ではgoogle formを利用、中国はワード文書のダウンロードで実施）
</td>
</tr>
<tr>
<td align="center" width="150px" style="background:#f7fbff;border:1px solid #e5eff8;padding:10px;">
<font color="#66a3d3">応募方法</font>
</td>
<td align="left" width="650px" style="border:1px solid #e5eff8;padding:10px;">
募集期間中にVASDAQ.TVにてページを作成したもの、または一度ダウンロードしたものをVASDAQ.TV Proにて編集し再度アップロードしたうえで、募集期間中にVASDAQ.TVにて公開設定をしてください。<br>
公開設定後、以下の内容を「応募はこちら」のフォームまでお送り下さい。。<br>
１、応募者ID<br>
２、応募ページ名
</td>
</tr>
<!--<tr>
<td align="center" width="150px" style="background:#f7fbff;border:1px solid #e5eff8;padding:10px;">
<font color="#66a3d3">応募ファイル宛先</font>
</td>
<td align="left" width="650px" style="border:1px solid #e5eff8;padding:10px;">
contest@vasdaqj.jp
</td>
</tr>-->
<tr>
<td align="center" width="150px" style="background:#f7fbff;border:1px solid #e5eff8;padding:10px;">
<font color="#66a3d3">応募条件</font>
</td>
<td align="left" width="650px" style="border:1px solid #e5eff8;padding:10px;">
ページの応募はお一人様3ページまでとなります。<br>
規定数以上の応募があった場合は、応募の日時に基づき3番目までの応募を対象といたします。<br>
入賞者の作品は、弊社に帰属するものといたします。<br>
</td>
</tr>
<tr>
<td align="center" width="150px" style="background:#f7fbff;border:1px solid #e5eff8;padding:10px;">
<font color="#66a3d3">応募期間</font>
</td>
<td align="left" width="650px" style="border:1px solid #e5eff8;padding:10px;">
2010年5月12日～2010年12月31日24時まで
</td>
</tr>
<tr>
<td align="center" width="150px" style="background:#f7fbff;border:1px solid #e5eff8;padding:10px;">
<font color="#66a3d3">当選発表</font>
</td>
<td align="left" width="650px" style="border:1px solid #e5eff8;">
応募された方の中から厳正な審査を行い、当選者は弊社HP等のメディアにて発表させていただきます。<br>
発表日　2011年2月頃
</td>
</tr>
<tr>
<td align="center" width="150px" style="background:#f7fbff;border:1px solid #e5eff8;padding:10px;">
<font color="#66a3d3">賞典</font>
</td>
<td align="left" width="650px" style="border:1px solid #e5eff8;padding:10px;">
賞金商品総額200万円<br>
優勝　100万円<br>
第2位　30万円<br>
以下　副賞
</td>
</tr>
<tr>
<td align="center" width="150px" style="background:#f7fbff;border:1px solid #e5eff8;padding:10px;">
<font color="#66a3d3">お問い合わせ</font>
</td>
<td align="left" width="650px" style="border:1px solid #e5eff8;padding:10px;">
VASDAQ.TV開発室　TEL：03-5419-1670<br>
(受付時間：祝祭日を除く月～金11：00～17：00)
</td>
</tr>
<tr>
<td align="center" width="150px" style="background:#f7fbff;border:1px solid #e5eff8;padding:10px;">
<font color="#66a3d3">注意事項</font>
</td>
<td align="left" width="650px" style="border:1px solid #e5eff8;padding:10px;">
※ご記入いただいた個人情報は、入賞のご案内、賞品発送、個人を特定しない統計情報として利用させていただきます。お客様の個人情報をお客様の同意なしに業務委託先以外の第三者に開示・提供することはございません。 
</td>
</tr>									
</table>

<br>
<br>
<br>
<br>


<div class="bt"><center><a href="mail_contest"><%= image_tag("./welcome/common/contest_bt.gif")%></a></center></div>
<br>
<br>
<div class="bt"><center><a href="http://spreadsheets.google.com/viewform?formkey=dDRUSGVNSmVEaHVEMXdHbHF2VHpBUnc6MQ"><%= image_tag("./welcome/common/application_bt.gif")%></a></center></div>
</div>
</div>
