
<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_digital.gif")%><%= _("デジタルサイネージ")%></h1>
<p><%= _("デジタルサイネージ（電子看板）のサンプル集です。")%><br>
<%= _("自宅や学校、地域の集会所などでも、VASDAQ.TVを使うと無料で高品質なデジタルサイネージが実現可能です。")%><br>
<font color="#686868"><%= _("街角デジタルサイネージ、自宅サイネージ、学校、公共施設、衣料品店、スーパーコンビニ、etc...")%></font>
</p>
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("VASDAQ-ITとVASDAQグループのCM")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('../category/ch0042/index.html')%>" target="_blank"><%= image_tag("./welcome/category/ch0042/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left"><%= _("VASDAQ-ITの動画CMです。VASDAQグループの案内や企業理念もわかります。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
Youtube
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("VASDAQ-ITは、VASDAQ.TVの企業向けソリューションです。VASDAQ-ITで作成したページファイルをダウンロードして一部編集しております。")%><a href="<%= image_path('./welcome/common/b_diagram02.gif')%>" target="_blank"><%= _("システム構成図あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("VASDAQ-ITとVASDAQグループのCM")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('../category/ch0029/index.html')%>" target="_blank"><%= image_tag("./welcome/category/ch0036/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left"><%= _("VASDAQ-ITの動画CMです。VASDAQグループの案内や企業理念もわかります。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
Youtube
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("VASDAQ-ITは、VASDAQ.TVの企業向けソリューションです。")%><a href="<%= image_path('./welcome/common/b_diagram02.gif')%>" target="_blank"><%= _("システム構成図あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("VASDAQグループCMのデジタルサイネージサンプル")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0018/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0018/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left"><%= _("VASDAQグループの商品・サービスを街角の大型ディスプレーで配信出来るようにしてみました。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("800×600")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("VASDAQ.TV広告配信サーバー")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定・")%><a href="<%= image_path('./welcome/category/ch0018/big_sample_cha.jpg')%>" target="_blank"><%= _("中国語版あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->

<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("エコチャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0020/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0020/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left"><%= _("環境問題に親子で取り組める様、エコ検定やエコクイズ、エコ商品情報などを自動表示。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("チャレンジ２５、Share100、Google環境、ニュース")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("医療機関様向けデジタルサイネージ")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0016/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0016/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left"><%= _("病院の待合室用の情報ボードです。受付番号や 病院からの各種お知らせなどを自動表示。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("病院受付管理システムとリンク")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
