

<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_education.gif")%><%= _("教育・キッズ")%></h1>
<p><%= _("語学やコンピュータなどの実用教育チャンネルや、小中高の学年毎に必要な教育情報を集めました。")%><br>
<%= _("安心して見れる子供向けチャンネルもここで。")%><br>
<font color="#686868"><%= _("英会話、中国語などの語学、コンピュータ、資格取得、学生用チャンネル、育児教育、子供向けチャンネル、etc..")%></font>
</p>

<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("教育関連チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0039/index.html" target="_blank"><%= image_tag("./welcome/category/ch0039/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンから最新の教育キッズや幼児教育関連の情報を２４時間表示。<br>ランキングやクイズコーナー、ペットギャラリーも見れるんです。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("800×600")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社リブプロフェッション")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンジャパン、ペットギャラリー、クイズ、ニュース、天気予報、こぼれ話、占い、絵本、エコ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("幼児教育関連チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0009/index.htm" target="_blank"><%= image_tag("./welcome/category/ch0009/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンから最新の教育キッズや幼児教育関連の情報を２４時間表示。<br>ランキングや売れ筋、発売日情報やギフトに人気のグッズもわかるんです")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("800×600")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンジャパン")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("小学生教育関連チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0010/index.htm" target="_blank"><%= image_tag("./welcome/category/ch0010/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンから最新の教育キッズや幼児教育関連の情報を２４時間表示。<br>ランキングや売れ筋、発売日情報やギフトに人気のグッズもわかるんです")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンジャパン")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("小学校学年毎学習チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0021/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0021/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("勉強だけでなく、なぞなぞやゲームなどの要素を取り入れた、")%><br><%= _("子供が思わず自分から勉強したくなるようなチャンネルを提供していく予定です。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("学校向けグループウェアシステムと接続")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定・")%><a href="<%= image_path('./welcome/category/ch0021/big_sample_cha.jpg')%>" target="_blank"><%= _("中国語版あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->

</div>

