
<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_entertainment.gif")%><%= _("エンタメ・ゲーム")%></h1>
<p><%= _("VASDAQ.TVは次世代エンターテイメントを実現するインター ネットテレビです。")%><br>
<%= _("見てるだけで楽しめるエンタメ情報を集めました。")%><br>
<font color="#686868"><%= _("映画、アイドル、お笑い、アニメ、ゲーム、ギャンブル、写真、映像、音楽、etc...")%></font>
</p>
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("ボーカロイドチャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0041/index.html" target="_blank"><%= image_tag("./welcome/category/ch0041/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ボーカロイド（初音ミク、鏡音リン・レン、巡音ルカ、MEIKO、KAITO)関連情報を２４時間表示。")%><br>
<%= _("ランキングニュース、twitterから流れるボーカロイド情報も必見です。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("YouTube、ニコニコ動画")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("映画チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0027/index.html" target="_blank"><%= image_tag("./welcome/category/ch0027/thumbnail2.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("最新の映画関連情報を２４時間表示。")%><br>
<%= _("ランキングやニュース、評価情報や人気の俳優のつぶやきもわかるんです。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンジャパン")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("音楽関連チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0008/index.htm" target="_blank"><%= image_tag("./welcome/category/ch0008/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンから配信される最新の音楽関連の情報を２４時間表示。")%><br>
<%= _("ランキングや売れ筋、発売日情報や人気のアイテムもわかるんです。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンジャパン")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->


</div>
