

<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_finance.gif")%><%= _("ファイナンス")%></h1>
<p><br>
<%= _("不動産情報や国際分散投資情報、金融機関向けサンプルなども提供していきます。")%><br>
<font color="#686868"><%= _("総合投資チャンネル、株投資チャンネル、為替FXチャンネル、不動産投資チャンネル、国際分散投資情報、金融機関向けサンプル、etc...")%></font>
</p>
<br>
<br>

<!-- サムネイルここから -->
<h3><%= _("World currency board　世界の為替")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0043/index.html" target="_blank"><%= image_tag("./welcome/category/ch0043/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("世界の為替情報を地図上に表示します。世界時計風に仕上げました。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("VASDAQグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("NIKKEI NET、ロイター他")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("主要為替情報、商品情報、ニュース他")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("総合金融情報チャンネル１")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0003/index01.html" target="_blank"><%= image_tag("./welcome/category/ch0003/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("投資家、金融業等向け総合金融情報（株、為替、各種指数先物投資家向け）")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ファイラエンジニアリング")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("NIKKEI NET、Yahoo、MSN産経ニュース他")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("日経平均その他市況、主要為替情報、ニュース他")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("総合金融情報チャンネル2")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0003/index02.html" target="_blank"><%= image_tag("./welcome/category/ch0003/thumbnail2.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("投資家、金融業等向け総合金融情報（株、為替、各種指数先物投資家向け）")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ファイラエンジニアリング")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("NIKKEI NET、Yahoo、MSN産経ニュース他")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("日経平均その他市況、主要為替情報、ニュース他")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("総合金融情報チャンネル3")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0003/index03.html" target="_blank"><%= image_tag("./welcome/category/ch0003/thumbnail3.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("投資家、金融業等向け総合金融情報（株、為替、各種指数先物投資家向け）" )%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ファイラエンジニアリング")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("NIKKEI NET、Yahoo、MSN産経ニュース他")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("日経平均その他市況、主要為替情報、ニュース他")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("世界の株価指数")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0029/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0029/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("世界の主要株価指数と関連金融情報を地図上に表示します。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("VASDAQグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("NIKKEI NET、ロイター他")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("日経平均その他市況、主要為替情報、商品市況、ニュース他")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("World currency board　世界の為替")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0030/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0030/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("世界の為替情報を地図上に表示します。世界時計風に仕上げました。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("VASDAQグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("NIKKEI NET、ロイター他")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("主要為替情報、商品情報、ニュース他")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("EDINET上場企業財務状況分析１")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0025/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0025/thumbnail5.jpg")%></a>
</td>

<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left"><%= _("EDINET上の有価証券報告書の財務諸表（XBRL）データに基づき、財務状況の分析結果を自動出力する画面です。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>

<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>

<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("EDINETシステムとXBRLリンク")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定")%>
</td>
</tr>
</table>
</td>

</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("EDINET上場企業財務状況分析２")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0026/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0026/thumbnail6.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">

<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left"><%= _("EDINET上の有価証券報告書の財務諸表（XBRL）データに基づき、財務状況の分析結果を自動出力する画面です。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>

<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社コンピー")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("EDINETシステムとXBRLリンク")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定")%>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("為替（FX）投資家向けアラートモニタ")%></h3>
<table>
<tr>
<td valign="top">
<a href="<%= image_path('./welcome/category/ch0022/big_sample.jpg')%>" target="_blank"><%= image_tag("./welcome/category/ch0022/thumbnail4.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("今流行りのFX投資家向けに必要情報をアラート表示するモニタです。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("ＶＡＳＤＡＱグループ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("各種為替システム")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("近日配信開始予定・")%><a href="<%= image_path('./welcome/category/ch0022/big_sample_cha.jpg')%>" target="_blank"><%= _("中国語版あり")%></a>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->


</div>
