
<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_hobby.gif")%><%=_("趣味・スポーツ")%></h1>
<p><%=_("個人の趣味やスポーツを追求するためのチャンネルです。")%><br>
<%=_("趣味を極めたい方、もっと特技やスポーツを上達させたい方必見！")%><br>
<font color="#686868"><%=_("旅行、釣りなどの各種趣味、競輪、競馬などの各種ギャンブル、ゴルフ、野球、サッカーなど各種スポーツ、etc...")%></font>
</p>
<br>
<br>
<!-- サムネイルここから -->
<h3><%=_("漫画チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0004/index.htm" target="_blank"><%= image_tag("./welcome/category/ch0004/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%=_("アマゾンから最新の漫画やコミックの情報を２４時間表示。<br>ランキングや売れ筋、発売日情報やギフトに人気の漫画もわかるんです")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("画面サイズ")%>(px)
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%=_("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%=_("アマゾンジャパン")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->

<br>
<br>
<!-- サムネイルここから -->
<h3><%=_("ゴルフ関連チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0007/index.htm" target="_blank"><%= image_tag("./welcome/category/ch0007/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%=_("アマゾンから配信される最新のゴルフ用品の情報を２４時間表示。")%><br>
<%=_("ランキングや売れ筋、発売日情報やギフトに人気のアイテムもわかるんです。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("画面サイズ")%>(px)
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%=_("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%=_("アマゾンジャパン")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%=_("アニメチャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0028/index.html" target="_blank"><%= image_tag("./welcome/category/ch0028/thumbnail3.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%=_("最新のアニメや声優の情報を２４時間表示。<br>ガンダム情報や声優ニュース、監督のつぶやきもわかるんです。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%=_("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%=_("アマゾンジャパン")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%=_("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->

</div>
