
<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_life.gif")%><%= _("ライフ・衣食住")%></h1>
<p><%= _("暮らしに関わるチャンネルを集めました。")%><br>
<%= _("ファッションやグルメ情報などの衣食住に関連する情報や求人、不動産情報などもここで取得しちゃいましょう。")%><br>
<font color="#686868"><%= _("ファッション、グルメ情報、お料理レシピ、ダイエット、健康、リビング、園芸、結婚、求人、不動産、etc...")%></font>
</p>

<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("ペット用品チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0005/index.htm" target="_blank"><%= image_tag("./welcome/category/ch0005/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンから配信される最新のペット用品の情報を２４時間表示。")%><br>
<%= _("ランキングや売れ筋、発売日情報やギフトに人気のアイテムもわかるんです。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンジャパン")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->
<br>
<br>
<!-- サムネイルここから -->
<h3><%= _("生活用品チャンネル")%></h3>
<table>
<tr>
<td valign="top">
<a href="../category/ch0006/index.htm" target="_blank"><%= image_tag("./welcome/category/ch0006/thumbnail.jpg")%></a>
</td>
<td align="left" valign="top">
<table border bordercolor="#ffcc66">
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("説明")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンから配信される最新の生活用品の情報を２４時間表示。")%><br>
<%= _("ランキングや売れ筋、発売日情報やギフトに人気のアイテムもわかるんです。")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("ページ数")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
１
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("画面サイズ(px)")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
800×600
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("作成者")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("株式会社イントゥ")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("リンク先情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">
<%= _("アマゾンジャパン")%>
</td>
</tr>
<tr>
<td bgcolor="#ffff99" width="100px" align="center">
<%= _("その他情報")%>
</td>
<td bgcolor="#ffffcc" width="600px" align="left">

</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- サムネイルここまで -->

</div>
