<div id="Area">	
<h1><%= image_tag("./welcome/icon/h1_mospeng.gif")%><%= _("VASDAQ.TVとモバイルソリューション")%></h1>
<br>

<!-- 文章ここから -->
<ul>
<li class="disc">
iPhoneや、Google Android携帯等のスマートフォンの普及で、ビジネスの世界でも、モバイル端末を活用して、業務システムを構築する試みが増加しています。
ある調査機関の調査によると、今後７０％以上の業務は、モバイルで実施され、残りの３０％の、どうしても大画面で見た方がいい業務のみが、PC上で実施されるだろう。
という予測が発表されています。<li>
<li class="disc">
VASDAQ.TVは大画面ディスプレー上にノンオペレーションで情報を２４時間自動表示するシステムです。
VASDAQ.TVは、例えば社長室や部課毎の壁掛けディスプレーに、モバイルを活用した業務システムの実施結果を自動表示し、
大画面で確認した方がいい情報はVASDAQ.TV上で、大画面が必要ない業務はそのままモバイルで実施出来る仕組みを用意しました。<li>
</ul>
<br>
<h3>VASDAQ.TVが提供するモバイルソリューション</h3>

<table>
<tr>
<td align="left" valign="top">
◯アンドロイドリモコン<br>
アンドロイドとは？Google社がオープンソースで提供するスマートフォン用のOSで、同じくオープンソースであるLinuxをベースに作られています。
<br>
アンドロイドの公式サイトは<a href="http://www.google.co.jp/mobile/android" target="_blank">こちら</a>。　　　 
<br>
VASDAQ.TVもオープンソースプロジェクトという理由で、VASDAQ.TVのモバイルソリューションはアンドロイドをベースに提供されます。<br>
<br>
第一弾として、アンドロイドリモコンを用意しました。<br>
アンドロイドリモコンは、VASDAQ.TVのチャンネル切り替え、携帯上での指でのドラッグ、タップ機能で、VASDAQ.TVの大画面をリモート操作する事が可能です。<br>
<br>
今後アンドロイドを使用した業務ソリューションも、可能な限りオープンソースで提供していく予定ですのでご期待ください。<br>
<br>
◯アンドロイドリモコン仕様<br>
●Android OS Version1.5以上<br>
動作確認済み機種<br>
キャリア：NTT Docomo<br>
HTC社　HT-03A<br>
SonyEricson社　XPeria（対応予定）<br>
（中国移動のOPhone数機種での動作は確認しておりますが、OPhoneはアンドロイドを独自にカスタマイズしたものであり、全ての機種で動作保証はいたしかねます）
<br>
<br>
●PC受け側 BlueTooth Bersion2.0以上<br>
Serial Port Profile対応機種<br>
<br>
●サーバー側Bluetoothメッセージ受信ライブラリbluecove APIを使用しています。仕様に関しては下記を参照してください。<br>
<a href="http://bluecove.org/">http://bluecove.org/</a><br>
<br>
◯モバイル版YAMLメール機能とモバイルフォーム作成機能モバイル版YAMLメール送信フォームを作成する事が出来ます。<br>
２０１０年７月頃オープンソース提供予定<br>
<br>
◯SQLiteデータベースとYAMLデータ交換<br>
２０１０年７月頃オープンソース提供予定<br>
</td>
<td valign="top">
<%= image_tag("./welcome/common/xperia_img.png")%>
</td>
</tr>
</table>
<%= image_tag("./welcome/common/android_img_01.png")%>
<%= image_tag("./welcome/common/android_img_02.png")%>




<!-- 文章ここまで -->

</div>
