

<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_mospeng.gif")%><%= _("オープンソースプロジェクト")%></h1>
<ul>
<li class="disc"><%= _("VASDAQ.TVは、オープンソースプロジェクトです。")%></li>
</ul>
<br>
<!-- 文章ここから -->
<h3><%= _("オープンソースプロジェクトとは？")%></h3>
<%= _("ソフトウェアやインターネットのサービスを、その根幹にあたるソースコード（技術情報）を公開し、世界中のプログラマが、改変、再配布を可能にするプロジェクトの事です。")%>
<%= _("ソースコードが公開されているという事は、そのプログラムやサービスを使う時も無料で使用する事が出来ます。")%>
<br>
<br>
<div class="bt"><center><a href="http://code.google.com/p/vasdaqtv/" target="_blank"><%= image_tag("./welcome/common/about_bt01.gif")%></a></center></div>
<br>
<%= _("VASDAQ.TVサイトの各種サービスも、もちろんフル機能を無料で公開しています。")%><br>
<%= _("サポートが必要な企業ユーザ様や、ディスク容量を大量に使いたい（VASDAQ.TVは無料でもディスク容量３０MまでOK！）個人のヘビーユーザ様向けに、「VASDAQ.TVクラウドサービス」を有償で提供しています。")%>
<br>
<br>
<a href="/welcome/business_solution"><%= _("ビジネスソリューション")%></a>
<!-- 文章ここまで -->
<br>
<br>
	<a href="https://twitter.com/#!/vasdaqtv" target="_blank"><div style="float:right;"><%=image_tag("./imagefile/Twitter.png")%></div></a>
	<div style="clear:both;"></div>
	<div style="float:right; font-size:15px; font-weight:bold;">VASDAQ.TVをツイッターフォローする</div>
</div>
