<div id="Area">
<h1><%= image_tag("./welcome/icon/h1_mospeng.gif")%><%= _("ご利用にあたって")%></h1>

<br>

<!-- 文章ここから -->
<h3><%= _("「全ての情報をノンオペレーションで全ての人へ」")%></h3>
<%= _("インターネットやPC、スマートフォン等のIT機器の登場で、私たちの暮らしは便利になりました。")%>
<%= _("しかし一方で、「デジタルデバイド」と言われる、IT機器を使いこなせる人と使えない人との格差は広がりつつあります。")%>
<%= _("子供の頃夢見た、誰もが情報に簡単にアクセス出来る、２１世紀のパートナーロボットみたいな存在には、まだまだほど遠いものがあります。")%>
<br><br>
<%= _("VASDAQ.TVは、「全ての情報をノンオペレーションで全ての人へ」というポリシーの元、テレビ感覚で、ネットやPC、その他の様々な情報を取得出来るシステムを目指し、日夜開発を実施しています。")%>
<%= _("プロジェクトをオープンソースプロジェクトとし、個人向けの「VASDAQ.TVサイト」は完全無料でサービスを提供しています。")%>
<%= _("これから先も、世界中の人が必要な情報に簡単にアクセス出来る様、国際展開等も含め実施していく予定ですので、ご期待ください。")%>
<br><br>
<h3><%= _("番組を公開する前に！（重要）")%></h3>
<%= _("VASDAQ.TVは、RSSをはじめとしたインターネットの様々な情報をノンオペレーションで２４時間自動表示する事を可能にするオープンソースシステムです。")%>
<br><br>
<%= _("インターネット上の、文章、画像、音楽、動画等の様々なデータは、著作権法で守られています。")%>
<%= _("無料で情報提供しているサイトでも、転用が禁止されていたり、改変が禁止されていたりします。")%>
<%= _("RSS形式で提供されている情報についても、商用での利用を禁止しているものもあります。")%>
<%= _("番組を公開する時は、リンクしている先のデータに十分注意してください。")%>
<%= _("また法律に違反する画像や公的秩序に反する情報の掲載やリンクも禁止します。")%>
<br><br>
<%= _("上記に違反して公開している番組に関しては、削除します。悪質な場合は捜査機関へのユーザ情報提供なども実施する可能性があります。")%>
<br><br>
<h3><%= _("免責事項")%></h3>
<%= _("VASDAQ.TVでは、サイト内で提供する、いかなる情報の正確性、速報性、安全性に対して、保証する事はありません。")%>
<%= _("個人ユーザが公開している番組や、VASDAQ.TVで企画して提供する番組においても、保証しません。")%>
<%= _("システムの不具合や災害その他の状況での、システム状態やデータの保全性も保証しません。")%>
<%= _("また、リンク先のサイトの情報についてもVASDAQ.TVでは、一切保証する事は出来ません。")%>
<%= _("VASDAQ.TVを利用した投資その他の意思決定に関しても全て自己責任で判断をお願いします。")%>
<br><br>
<h3><%= _("個人情報保護方針")%></h3>
<%= _("VASDAQ.TVは、オープンソースコミュニティの個人情報保護方針に基づき、運営を実施していきます。（下記参照）")%><br>
<a href="http://sites.google.com/site/vasdaqit/privacy-policy">http://sites.google.com/site/vasdaqit/privacy-policy</a>
<br><br>
<h3><%= _("VASDAQ.TV Webサービス及び提供プログラムのライセンス")%></h3>
<%= _("VASDAQ.TVは、GPL２でライセンスを提供しています（下記参照）")%><br>
<a href="http://sites.google.com/site/vasdaqit/gpl2riyou-kyodaku-keiyaku-sho">http://sites.google.com/site/vasdaqit/gpl2riyou-kyodaku-keiyaku-sho</a>
<br><br>
<h3><%= _("VASDAQ.TV 著作物（画像、文章、その他データ）のライセンス")%></h3>
<%= _("VASDAQ.TVは、クリエイティブコモンズの概念に基づいて著作物のライセンスを提供しています（下記参照）")%><br>
<a href="http://ja.wikipedia.org/wiki/クリエイティブ・コモンズ">http://ja.wikipedia.org/wiki/クリエイティブ・コモンズ</a>
<br><br>
<h3><%= _("準拠法及び管轄裁判所について")%></h3>
<%= _("当サイトの利用ならびに本利用規定の解釈については、特別な定めのない限り、日本国法に準拠するものとします。")%>
<%= _("また当サイトの利用に関わるすべての争議については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。")%>
<br><br><br><br>
<%= _("２０１０年４月１日現在")%>

<!-- 文章ここまで -->

</div>


