<div id="Area">
    <h1><%= image_tag("./welcome/icon/h1_favorite.gif")%><%= _("マイページ")%></h1>
    
    <% if @mypage == nil %>
        <%= _("マイページが登録されていません。")%>
    <% else %>
        <%= _("マイページを本当に削除しますか？")%>
        <br><br>
        <!-- サムネイルここから -->
        <h3><%= h @mypage.channel.name %></h3>
        <table>
        <tr>
        <td valign="top">
        <% 
            if @mypage.channel.thumbnail_filename == nil
                thumbnail_path = "./welcome/icon/noimage.gif"
            else
	            thumbnail_path = "/"+RuntimeSystem.channel_save_dir(@mypage.channel)+@mypage.channel.thumbnail_filename
            end
            
        %>
        <%= image_tag(thumbnail_path, :width=>199, :height=>149) %>
        </td>
        <td align="left" valign="top">
            <table border bordercolor="#ffcc66">
            <tr>
            <td bgcolor="#ffff99" width="100px" align="center">
            
            <%= _("説明")%>
            </td>
            <td bgcolor="#ffffcc" width="500px" align="left">
            <%= h @mypage.channel.description %>
            </td>
            </tr>
            <tr>
            <td bgcolor="#ffff99" width="100px" align="center">
            <%= _("ページ数")%>
            </td>
            <td bgcolor="#ffffcc" width="500px" align="left">
            <%= @mypage.channel.pages.count %>
            </td>
            </tr>
            <tr>
            <td bgcolor="#ffff99" width="100px" align="center">
            
            <%= _("画面サイズ")%>(<%=_("px")%>)
            </td>
            <td bgcolor="#ffffcc" width="500px" align="left">
            <%= @mypage.channel.width %>×<%= @mypage.channel.height %>
            </td>
            </tr>
            <tr>
            <td bgcolor="#ffff99" width="100px" align="center">
            <%= _("作成者")%>
            </td>
            <td bgcolor="#ffffcc" width="500px" align="left">
            <%= @mypage.channel.user.user_name %>
            </td>
            </tr>
            <tr>
            <td bgcolor="#ffff99" width="100px" align="center">
            <%= _("リンク先情報")%>
            
            </td>
            <td bgcolor="#ffffcc" width="500px" align="left">
            <%= h @mypage.channel.link_info %>
            </td>
            </tr>
            <tr>
            <td bgcolor="#ffff99" width="100px" align="center">
            <%= _("その他情報")%>
            </td>
            <td bgcolor="#ffffcc" width="500px" align="left">
            <%= h @mypage.channel.other_info %>
            </td>
            </tr>
            </table>
        </td>
        </tr>
        </table>
        
        <!-- サムネイルここまで -->
		<table>
        <tr>
	        <td>
	        	<% form_tag mypage_path(@mypage), :method=>"delete" do -%>
                <%= submit_tag _("削除") %>
                <% end -%>
	        </td>
	        <td>
                <% form_tag mypages_path, :method=>"get" do -%>
                <%= submit_tag _("キャンセル") %>
                <% end -%>
	        </td>
        </tr>
        </table>
	    <br>
	    <br>
    <% end %>
</div>
