<div class="account" style="margin-bottom:15px;">
	<table>
		<tr>
			<td>
				<%= image_tag("./imagefile/point.png")%>
				<%= "&nbsp;" %>
				<%= _("説明") %>
			</td>
		</tr>			
	</table>
	<table frame="void" rules="none">
		<tr>
			<td>
				<table frame="border" rules="all" bordercolor="#cccccc" width="900px">
					<tr>
						<td align="center" width="130px">
							<%= _("フォームの名前") %>
						</td>
						<td>
							<%= _("フォームに付ける名称を入力してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("フォームの説明") %>
						</td>
						<td>
							<%= _("フォームについての説明を入力してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("メールの本文に載せるフォーム名") %>
						</td>
						<td>
							<%= _("送信メールの本文中に記載するフォームの名前を入力してください。") %>
						</td>
					</tr>										
					<tr>
						<td align="center" width="130px">
							<%= _("フォームの項目数") %>
						</td>
						<td>
							<%= _("フォームに配置したい数を選択してください。") %>
						</td>
					</tr>						
					<tr>
						<td align="center" width="130px">
							<%= _("項目の名前") %>
						</td>
						<td>
							<%= _("項目に付ける名称を入力してください。") %>
						</td>
					</tr>	
					<tr>
						<td align="center" width="130px">
							<%= _("項目の種別") %>
						</td>
						<td>
							<%= _("使用したい項目の種類を選択してください。<br>") %>
							<%= _("「テキストボックス」「チェックボックス」「ラジオボタン」「選択リスト」「テキストエリア」が選択できます。") %>
						</td>
					</tr>										
					<tr>
						<td align="center" width="130px">
							<%= _("項目の説明") %>
						</td>
						<td>
							<%= _("項目についての説明を入力してください。") %>
						</td>
					</tr>					
					<tr>
						<td align="center" width="130px">
							<%= _("メールの本文に載せる項目名") %>
						</td>
						<td>
							<%= _("送信メールの本文中に記載する項目の名前を入力してください。") %>
						</td>
					</tr>	
					<tr>
						<td align="center" width="130px">
							<%= _("メールの本文に載せる値") %>
						</td>
						<td>
							<%= _("送信メールの本文中に記載する項目の値を入力してください。") %>
						</td>
					</tr>	
					<tr>
						<td align="center" width="130px">
							<%= _("テキストボックスの横幅") %>
						</td>	
						<td rowspan="2">
							<%= _("利用したい「テキストボックス」「テキストエリア」の横幅を入力してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">	
							<%= _("テキストエリアの横幅") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("入力可能な最大文字数") %>
						</td>
						<td>
							<%= _("「テキストボックス」「テキストエリア」に入力することができる、最大文字数を入力してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("入力値チェック処理の数") %>
						</td>
						<td>
							<%= _("メール送信前に「テキストボックス」「テキストエリア」の入力値をチェックする処理の回数を選択してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("入力値チェック処理") %>
						</td>
						<td>
							<%= _("実行したい入力値のチェック処理を選択してください。") %><br>
							<%= _("・「空白チェック」「整数チェック」「小数点数チェック」「アルファベットチェック」「全角文字チェック」「半角文字チェック」「範囲チェック」「禁止文字チェック」が選択できます。") %><br>
							<%= _("・「空白チェック」は、入力値が「空」の場合、エラーメッセージを表示します。") %><br>
							<%= _("・「整数チェック」は、入力値が「整数以外」の場合、エラーメッセージを表示します。") %><br>
							<%= _("・「小数点数チェック」は、入力値が「小数点数以外」の場合、エラーメッセージを表示します。") %><br>
							<%= _("・「アルファベットチェック」は、入力値が「アルファベット（大文字、小文字）以外」の場合、エラーメッセージを表示します。") %><br>
							<%= _("・「全角文字チェック」は、入力値が「全角文字」の場合、エラーメッセージを表示します。") %><br>
							<%= _("・「半角文字チェック」は、入力値が「半角文字」の場合、エラーメッセージを表示します。") %><br>
							<%= _("・「範囲チェック」は、入力値が「最小値～最大値の範囲外」の場合、エラーメッセージを表示します。") %><br>
							<%= _("・「禁止文字チェック」は、入力値に「禁止文字」が含まれていた場合、エラーメッセージを表示します。") %><br>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("初期状態のチェック") %>
						</td>
						<td>
							<%= _("「チェックボックス」の場合は、表示される際のチェック状態（ON、OFF）を指定してください。") %><br>
							<%= _("「ラジオボタン」の場合は、表示される際の初期チェック位置（どのラジオボタンにチェックをつけるか）を指定してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("ラジオボタンの数") %>
						</td>
						<td>
							<%= _("利用したいラジオボタンの数を選択してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("ラジオボタンの数") %>
						</td>
						<td rowspan="2">
							<%= _("利用したい「ラジオボタン」「選択リスト」の数を選択してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("リストの数") %>
						</td>						
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("ラジオボタンの名前") %>
						</td>
						<td rowspan="2">
							<%= _("各「ラジオボタン」「選択リスト」に付ける名称を入力してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("リストの名前") %>
						</td>
					</tr>					
					
					<tr>
						<td align="center" width="130px">
							<%= _("初期選択") %>
						</td>
						<td>
							<%= _("表示される際の初期選択状態（選択したい番号）を選択してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("テキストエリアの高さ") %>
						</td>
						<td>
							<%= _("利用したい「テキストエリア」の高さを入力してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("詳細設定を開く") %>
						</td>
						<td rowspan="2">
							<%= _("各項目の詳細設定の表示／非表示を切り替えることができます。") %>
						</td>
					</tr>					
					<tr>
						<td align="center" width="130px">
							<%= _("詳細設定を閉じる") %>
						</td>
					</tr>	
					<tr>
						<td align="center" width="130px">
							<%= _("項目の並べ替え") %>
						</td>
						<td>
							<%= _("各項目をドラッグアンドドロップすると、項目の並び順を変更することができます。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("保存ボタン") %>
						</td>
						<td>
							<%= _("設定内容を保存することができます。") %>
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td>
							<%= _("<font color=red>*</font>マークがついているものは必須項目です。") %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>				
</div>