<table>
	<tr>
		<td align='center'>
			<%= _("初期選択") %>
		</td>
		<td>
			<%= yaml_db_form_num_select_tag "yaml_db_form[#{@name}_selected]",
											1,
											@yaml_db_forms["#{@name}_count"].to_i,
											@yaml_db_forms["#{@name}_selected"] %>
		</td>
	</tr>
</table>		

<% i = 0 %>
<% while i < @yaml_db_forms["#{@name}_count"].to_i do %>
	<table>	
		<tr>
			<td align='center'>
				<%= _("リストの名前 ") + (i + 1).to_s %>
				<font color=red>*</font>
			</td>
			<td>
				<%= text_field_tag "yaml_db_form[#{@name}_list_#{i}_name]",
									@yaml_db_forms["#{@name}_list_#{i}_name"],
									{:maxlength => ConstYamlDbForm::LIST_NAME_MAX, :style => "width:200px;"} %>
			</td>

			<td align='center'>
				<%= _("メールの本文に載せる値 ") + (i + 1).to_s %>
				<font color=red>*</font>
			</td>
			<td>
				<%= text_field_tag "yaml_db_form[#{@name}_list_#{i}_value]",
									@yaml_db_forms["#{@name}_list_#{i}_value"],
									{:maxlength => ConstYamlDbForm::LIST_VALUE_MAX, :style => "width:200px;"} %>
			</td>
		</tr>
	</table>
	<% i += 1 %>
<% end %>
