<% option = @name + "_radio_option" %>
<table>
	<tr>
		<td align='center'>
			<%= _("ラジオボタンの数") %>
		</td>
		<td>
			<%= yaml_db_form_num_select_tag "yaml_db_form[#{@name}_count]",
											ConstYamlDbForm::RADIO_COUNT_MIN,
											ConstYamlDbForm::RADIO_COUNT_MAX,
											@yaml_db_forms["#{@name}_count"] %>
											
			<%= observe_field "yaml_db_form[#{@name}_count]",
								:update=>option,
								:url=>{:action=>"radio_option_update"},
								:submit=>"#{@name}" %>
		</td>
	</tr>
</table>	
	
<div id="<%= option %>">
	<%= render :partial => 'radio_option_update' %>
</div>
