<% option = @name + "_textarea_option" %>
<table>
	<tr>
		<td align='center'>
			<%= _("テキストエリアの高さ") %>
		</td>
		<td>
			<%= text_field_tag "yaml_db_form[#{@name}_hight]",
								@yaml_db_forms["#{@name}_hight"],
								{:maxlength => ConstYamlDbForm::TEXTAREA_HIGHT_MAX.to_s.length, :style => "width:100px;"} %>
			<font>px</font>
		</td>
	</tr>
	<tr>
		<td align='center'>
			<%= _("テキストエリアの横幅") %>
		</td>
		<td>
			<%= text_field_tag "yaml_db_form[#{@name}_width]",
								@yaml_db_forms["#{@name}_width"],
								{:maxlength => ConstYamlDbForm::TEXTAREA_WIDTH_MAX.to_s.length, :style => "width:100px;"} %>
			<font>px</font>
		</td>
	</tr>
	<tr>
		<td align='center'>
			<%= _("入力可能な最大文字数") %>
		</td>
		<td>
			<%= text_field_tag "yaml_db_form[#{@name}_length]",
								@yaml_db_forms["#{@name}_length"],
								{:maxlength => ConstYamlDbForm::TEXTAREA_LENGTH_MAX.to_s.length, :style => "width:100px;"} %>
			<font>px</font>
		</td>
	</tr>	
	<tr>
		<td align='center'>
			<%= _("入力値チェック処理の数") %>
		</td>
		<td>
			<%= yaml_db_form_num_select_tag "yaml_db_form[#{@name}_count]",
											ConstYamlDbForm::TEXTAREA_VALIDATE_MIN,
											ConstYamlDbForm::TEXTAREA_VALIDATE_MAX,
											@yaml_db_forms["#{@name}_count"] %>
											
			<%= observe_field "yaml_db_form[#{@name}_count]",
								:update=>option,
								:url=>{:action=>"textarea_option_update"},
								:submit=>"#{@name}" %>			
		</td>	
	</tr>	
</table>

<div id="<%= option %>">
	<%= render :partial => 'textarea_option_update' %>
</div>