<div class="account_form" style="margin-bottom:15px;">
	<table>
		<tr>
			<td><%= image_tag("./imagefile/point.png")%>&nbsp;<%= _("説明") %></td>
		</tr>			
	</table>
	<table frame="void" rules="none">
		<tr>
			<td>
				<table frame="border" rules="all" bordercolor="#cccccc" width="610px">
					<tr>
						<td align="center" width="130px">
							<%= _("To") %><br>
							<%= _("Cc") %><br>
							<%= _("Bcc") %>
						</td>
						<td>
							<%= _("メール送信先アドレスを指定して下さい。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("件名") %>
						</td>
						<td>
							<%= _("メールの件名を指定して下さい。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("本文") %>
						</td>
						<td>
							<%= _("メールの本文です。") %><br>
							<%= _("YAML構文に準拠した記述を行って下さい。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("YAML構文チェックボタン") %>
						</td>
						<td>
							<%= _("メール本文がYAML構文に準拠しているかのチェックを行います。") %><br>
							<%= _("※<b>メールの送信は行いません。</b>") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px">
							<%= _("送信ボタン") %>
						</td>
						<td>
							<%= _("指定された宛先へメール送信を行います。") %><br>
							<%= _("※<b>メール本文のYAML構文チェックも行います。</b>") %>
						</td>
					</tr>																				
				</table>
			</td>
		</tr>
	</table>				
</div>