<div class="account" style="margin-bottom:15px;">
	<table>
		<tr>
			<td><%= image_tag("./imagefile/point.png")%><%= "&nbsp;" %><%= _("説明") %></td>
		</tr>
	</table>
	<table frame="void" rules="none">
		<tr>
			<td>
				<table frame="border" rules="all" bordercolor="#cccccc" width="900px">
					<tr>
						<td align="center" width="130px"><%= _("Google API Key") %></td>
						<td>
							<%= _("RSSのサービスを利用する際に必要なKEYです。<br>") %>
							<%= _("利用者ごとに取得する必要があります。") %>
						</td>
					</tr>
					<tr>
						<td align="center" width="130px"><%= _("取得方法") %></td>
						<td>
							<%= _("GoogleのAPI keyは設置するサイトのURLを入力することで取得できます。<br>") %>
							<%= _("下記のURLから取得してください。 <br>") %>
							<a href="http://code.google.com/intl/ja/apis/ajaxfeeds/signup.html" target="_blank">http://code.google.com/intl/ja/apis/ajaxfeeds/signup.html</a>
						</td>
					</tr>					
				</table>
			</td>
		</tr>
	</table><br>
</div>