<div class="account" style="margin-bottom:15px;">
	<table>
		<tr>
			<td colspan="2"><h2><b><%= _("パスワード設定変更") %></b></h2><br></td>
		</tr>
	</table>				
	<% form_tag(user_path(params[:id]), :method=>"put") do -%>
		<table>
			<tr>
				<td><%= _("新パスワード") %><font color=red>*</font></td>
				<td><%= password_field_tag "user[password]", h(@user["password"]), :maxlength => 40 %></td>
			</tr>
			<tr>
				<td><%= _("確認パスワード") %><font color=red>*</font></td>
				<td><%= password_field_tag "user[password_confirmation]", h(@user["password_confirmation"]), :maxlength => 40 %></td>
			</tr>
			<tr>
				<td>
					<br><%= submit_tag _("設定") %>
					<%= link_to _("VASDAQ.TVトップへ"), root_path %>
				</td>
			</tr>						
		</table>
	<% end -%>	
</div>
