<div class="account" style="margin-bottom:15px;">
	<table>
		<tr>
			<td colspan="2"><h2><b><%= _("ニックネーム設定変更") %></b></h2><br></td>
		</tr>
	</table>
	<% form_tag(user_path(params[:id]), :method=>"put") do -%>
		<table>
			<tr>
				<td><%= _("ニックネーム") %><font color=red>*</font></td>
				<td><%= text_field_tag "user[user_name]", h(@user["user_name"]), :maxlength => 20 %></td>
			</tr>
			<tr>
				<td>
					<br><%= submit_tag _("設定") %>
					<%= link_to _("VASDAQ.TVトップへ"), root_path %>
				</td>
			</tr>						
		</table>
	<% end -%>	
</div>