<div class="account" style="margin-bottom:15px;">	
	<table>
		<tr>
			<td><%= image_tag("./imagefile/point.png")%><%= "&nbsp;" %><%= _("説明") %></td>
		</tr>
	</table>
	<table frame="void" rules="none">
		<tr>
			<td>
				<table frame="border" rules="all" bordercolor="#cccccc" width="900px">
					<tr>
						<td align="center" width="165px"><%= _("YAMLメールアドレス") %></td>
						<td>
							<%= _("YAMLメーラーおよびYAMLプレーヤで使用するメールアドレスを設定して下さい。") %><br>
							<%= _("送信者のアドレスとして使用されます。") %>
						</td>
					</tr>
					<tr>
						<td align="center" ><%= _("ドメイン名") %></td>
						<td>
							<%= _("YAMLメールアドレスの＠マーク以降の部分を入力してください。") %><br>
							<%= _("(例:○○.co.jp)") %>
						</td>
					</tr>								
					<tr>
						<td align="center" ><%= _("送信サーバー（SMTP）") %></td>
						<td>
							<%= _("SMTPサーバーとは、電子メールの送信するためのサーバで、送信プロトコル(通信規約)であるSMTPに対応しているものです。") %><br>
							<%= _("詳細はご利用されるプロバイダーまたはメールアカウント提供業者にご確認ください。") %><br>
							<%= _("ここにはSMTPサーバ名を入力してください。") %>
						</td>
					</tr>								
					<tr>
						<td align="center"><%= _("受信サーバー（POP）") %></td>
						<td>
							<%= _("POPサーバーとは、一般的に利用されるメール受信プロトコルのPOP（Post Office Protocol）に対応した受信サーバーです。") %><br>
							<%= _("詳細はご利用されるプロバイダーまたはメールアカウント提供業者にご確認ください。") %><br>
							<%= _("ここにはPOPサーバ名を入力してください。") %><br>
							<%= _("<span style='color:red'>※ここで設定したサーバーはYamlMailプレーヤがメールを受信するのに使用されている為、メールが自動的に削除される場合があります。") %></span>
						</td>
					</tr>
					<tr>
						<td align="center" ><%= _("ポート番号") %></td>
						<td>
							<%= _("POP・SMTPそれぞれのポート番号を入力してください。") %><br>
							<%= _("通常はPOP 110、SMTP 25 ですが、OB25P対策をされているプロバイダーについてはお客様が契約している先にお問い合わせください。") %>
						</td>
					</tr>								
					<tr>
						<td align="center" ><%= _("認証方式") %></td>
						<td><%= _("メールの送受信の際の認証方式を選んでください。") %></td>
					</tr>	
					<tr>
						<td align="center" ><%= _("アカウント名") %></td>
						<td>
							<%= _("メールを取得するアカウント名を入力してください。") %>
						</td>
					</tr>
					<tr>
						<td align="center" ><%= _("パスワード") %></td>
						<td><%= _("メールを取得するパスワードを入力してください。") %></td>
					</tr>											
				</table>
			</td>
		</tr>
	</table><br>
</div>
	