<div style="margin-left:75px;margin-top:75px;">

	<h1>メッセージ新規作成</h1>
	
	<% form_for(@index_message) do |f| %>
	  <%= f.error_messages %>
	  <table>
	  	<tr>
	  		<th></th>
	  	</tr>
		<tr>
		<td>本文</td>
			<td>
				<%= f.text_field :body ,:size=> 30,:maxlength =>200%>
			</td>
		</tr>
		<tr>
			<td>開始日時</td>
			<td>
				<%= f.datetime_select  "start_date", :use_month_numbers => true%>
			</td>
		</tr>
		<tr>
			<td>終了日時</td>
			<td>
				<%= f.datetime_select  "end_date" , :use_month_numbers => true%>
			</td>
		</tr>
		<tr>
			<td>終了日時不可</td>
			<td>
				<%= f.check_box :no_end_flg %>
			</td>
		</tr>
	  </table>
	  <p>
	    <%= f.submit "Create" %>
	  </p>
	<% end %>
	<%= link_to 'Back', index_messages_path %>
</div>