<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>VASDAQ.TV</title>
  <%= javascript_include_tag "properties"%>
  <%= stylesheet_link_tag "master"%>
  <%= javascript_include_tag 'jquery-1.4.2' %>
  <%= javascript_include_tag 'effects.core' %>
  <%= javascript_include_tag 'jquery.easing' %>
  <%= javascript_include_tag 'jquery.lavalamp' %>
  <%= javascript_include_tag 'farbtastic' %>

<!-- Google Analytics  -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15058243-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15058243-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</head>
<!-- Google Analytics  -->
	<body>
		<%= render :partial=>'layouts/menu' -%>
		<%if !flash[:notice].blank? || !flash[:alert].blank?-%>
			<div style="height:20px"></div>
			<p id="notice_message", style="color: green;background: lightgreen;"><%= flash[:notice] -%></p>
			<p id="alert_messege", style="color: red;background: pink;"><%= flash[:alert] -%></p>
		<%end-%>
		<%= yield -%>
		<%= render :partial=>'layouts/footer' %>
	</body>
</html>